<div class="clearer"></div>
<div class="row text-right" style="margin-bottom:15px;">
	<div class="col-xs-12" style="padding-right:.75em;">
		<button type="button" class="filter-toggle" style="-webkit-margin-end: 2px;">Show Filters</button>
	</div>
</div>
<div class="filter-bar hidden">
	<div class="row">
		<div class="col-xs-12 col-m-3">
			<fieldset>
				<legend>Filter Results</legend>
                <?php
                    $filtertext = $block->getRequest()->getParam('filtertext');
                    $filterby = $block->getRequest()->getParam('filterby');
                    $filtertype = $block->getRequest()->getParam('filtertype');
                ?>
				<input type="text" id="filtertext" name="filtertext" class="admin__control-text" value="<?php echo $filtertext?>"/>
			</fieldset>
		</div>
		<div class="col-xs-12 col-m-3">
			<fieldset>
				<legend><?php echo __('Filter Options') ?></legend>

                <?php

                ?>
				<div class="col-xs-6">
					<div class="admin__actions-switch" data-role="switcher" style="display: block;width: 100%;margin-bottom:5px;">
						<input id="filter_option_product_name" type="radio" name="filterby" value="name"
                               value="name" <?php if($filterby == 'name'): echo 'checked'; endif ?> />
						<label for="filter_option_product_name"  style="font-size: .9em;width: 100%;">
							<span ><?php echo __('Product Name') ?></span>
						</label>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="admin__actions-switch" data-role="switcher" style="display: block;width: 100%;margin-bottom:5px;">
						<input id="filter_option_product_sku" type="radio" name="filterby" value="sku"
                               value="sku" <?php if($filterby == 'sku'): echo 'checked'; endif ?> />
						<label for="filter_option_product_sku"  style="font-size: .9em;width: 100%;">
							<span ><?php echo __('Product Sku') ?></span>
						</label>
					</div>
				</div>
			</fieldset>
            <fieldset>
                <legend><?php echo __('Filter Options Type') ?></legend>

                <?php

                ?>
                <div class="col-xs-6">
                    <div class="admin__actions-switch" data-role="switcher" style="display: block;width: 100%;margin-bottom:5px;">
                        <input id="filter_option_exact" type="radio" name="filtertype" value="exact"
                               value="name" <?php if($filtertype == 'exact'): echo 'checked'; endif ?> />
                        <label for="filter_option_exact"  style="font-size: .9em;width: 100%;">
                            <span ><?php echo __('Exact Match') ?></span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="admin__actions-switch" data-role="switcher" style="display: block;width: 100%;margin-bottom:5px;">
                        <input id="filter_option_like" type="radio" name="filtertype" value="like"
                               value="sku" <?php if($filtertype == 'like'): echo 'checked'; endif ?> />
                        <label for="filter_option_like"  style="font-size: .9em;width: 100%;">
                            <span ><?php echo __('Like') ?></span>
                        </label>
                    </div>
                </div>
            </fieldset>
		</div>
		<div class="col-xs-12 col-m-6">
            <!-- not implemented -->
<!--			<fieldset class="date-range">-->
<!--				<legend>Filter By Date Range</legend>-->
<!---->
<!--				<div class="col-xs-5">-->
<!--					<input type="text" class="admin__control-text" placeholder="From Date" />-->
<!--				</div>-->
<!--				<div class="col-xs-2"></div>-->
<!--				<div class="col-xs-5">-->
<!--					<input type="text" class="admin__control-text" placeholder="To Date" />-->
<!--				</div>-->
<!--			</fieldset>-->
<!--		</div>-->
            			<fieldset class="category">
            				<legend>Filter By Product Category</legend>
<!---->
<!--            				<div class="col-xs-8">-->
<!--                                <select class="admin__control-text" multiple="multiple" name="categories" id="categories"><option value="all">All</option><option value="4">Products 2</option></select>-->
<!--            				</div>-->
                            <?php echo $block->getCategoryChooserHtml();   ?>
<!--            				<div class="col-xs-2"></div>-->
<!--            				<div class="col-xs-5">-->
<!--            					<input type="text" class="admin__control-text" placeholder="To Date" />-->
<!--            				</div>-->
            			</fieldset>
            		</div>
	</div>
	<div class="row text-right">
		<div class="col-xs-12" style="padding-right:.75em;">
			<button type="button" class="action-secondary btn-clear_filters" style="-webkit-margin-end: 2px;">Clear Filters</button>
			<button type="button" class="action-primary btn-apply_filters" style="-webkit-margin-end: 2px;">Apply Filters</button>
		</div>
	</div>
</div>
