.admin__menu .item-rental.parent.level-0 > a:before {
    content: "\e627";
}

#salesigniter_rental_store_hours select.select {
    float:none;
    width: auto;
}

div[data-index="sirent_price"] {
    width: 72% !important;
}

div[data-index="catalog-rules-fixeddates"] div.admin__field-label {
    text-align:left;
}

div[data-index="matchtype-fixeddates"]  div.admin__field-label {
    text-align:left;
}

div[data-index="surge-fixeddates"]  div.admin__field-label {
    text-align:left;
}

div[data-index="name-fixeddates"]  div.admin__field-label {
    text-align:left;
}

div[data-index="displayoption-fixeddates"]  div.admin__field-label {
    text-align:left;
}
