<div class="row headings format-day" data-bind="style: { width: getCalendarWidth() }, foreach: { data: getCalendarHeadings(), as: 'time' }" id="inventoryheading">
	<div class="date-column" data-bind="text: $root.displayDate(time, $root.locale, 'hh:mm a')"></div>
</div>
<div class="row body format-day" data-bind="style: { width: getCalendarWidth() }, foreach: { data: products, as: 'Product' }" id="inventorydata">
	<div data-bind="foreach: { data: $root.getCalendarContent(Product), as: 'result' }, attr: { 'data-row_idx': $index }">
		<div class="date-column" data-bind="html: result.html, attr: { 'data-timestamp': result.timestamp }, click: function (data, e){ $root.showDateReport(e, data, Product) }"></div>
	</div>
	<div class="serial-numbers" data-bind="foreach: { data: Product.getSerialNumbers(), as: 'SerialNumber' }">
		<div class="row serial-number-data" data-bind="foreach: { data: $root.getCalendarContent(SerialNumber), as: 'result' }">
			<div class="date-column serial-column" data-bind="attr: { 'data-reservationorder_id': SerialNumber.getReservationOrderId() }, css: result.html, click: function (data, e){ $root.showDateReport(e, data, SerialNumber) }"></div>
		</div>
	</div>
</div>
