<?php
/**
 * Copyright © 2018 SalesIgniter. All rights reserved.
 * See https://rentalbookingsoftware.com/license.html for license details.
 *
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var \Magento\Catalog\Pricing\Render\FinalPriceBox $block */

$productId = $block->getSaleableItem()->getId();

/** ex: \Magento\Catalog\Pricing\Price\RegularPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$priceModel = $block->getPriceType( 'regular_price' );

/** ex: \Magento\Catalog\Pricing\Price\FinalPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType( 'final_price' );
$idSuffix        = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema          = ( $block->getZone() == 'item_view' ) ? true : false;
$helperRental    = \Magento\Framework\App\ObjectManager::getInstance()->create( '\SalesIgniter\Rental\Helper\Data' );
?>
<?php if ( ! $helperRental->isRentalType( $block->getSaleableItem()->getId() ) ): ?>
	<?php if ( $block->hasSpecialPrice() ): ?>
        <span class="special-price">
        <?php /* @escapeNotVerified */
        echo $block->renderAmount( $finalPriceModel->getAmount(), [
	        'display_label'     => __( 'Special Price' ),
	        'price_id'          => $block->getPriceId( 'product-price-' . $idSuffix ),
	        'price_type'        => 'finalPrice',
	        'include_container' => true,
	        'schema'            => $schema
        ] ); ?>
    </span>
        <span class="old-price">
        <?php /* @escapeNotVerified */
        echo $block->renderAmount( $priceModel->getAmount(), [
	        'display_label'     => __( 'Regular Price' ),
	        'price_id'          => $block->getPriceId( 'old-price-' . $idSuffix ),
	        'price_type'        => 'oldPrice',
	        'include_container' => true,
	        'skip_adjustments'  => true
        ] ); ?>
    </span>
	<?php else: ?>
		<?php /* @escapeNotVerified */
		$blockoutput = $block->renderAmount( $finalPriceModel->getAmount(), [
			'price_id'          => $block->getPriceId( 'product-price-' . $idSuffix ),
			'price_type'        => 'finalPrice',
			'include_container' => true,
			'schema'            => $schema
		] );
//		if($finalPriceModel->getAmount()->getBaseAmount() == 0) {
//            // hide $0 price
//            // expression should match any currency symbol at front or back of price, and price should be 0 with , or . symbols
//            $pattern = '/<span class="price">.{0,3}[0\.\,]{1,100}.{0,3}<\/span>/';
//            $replacement = '<span class="price"></span>';
//            //$matches = preg_match('/<span class="price">.{,3}[0\.\,]{1,100}.{,3}<\/span>/', $blockprice);
//            $blockoutput = preg_replace($pattern, $replacement, $blockoutput);
//        }
		echo $blockoutput;
		?>
	<?php endif; ?>

	<?php if ( $block->showMinimalPrice() ): ?>
		<?php if ( $block->getUseLinkForAsLowAs() ): ?>
            <a href="<?= /* @escapeNotVerified */
			$block->getSaleableItem()->getProductUrl() ?>" class="minimal-price-link">
				<?= /* @escapeNotVerified */
				$block->renderAmountMinimal() ?>
            </a>
		<?php else: ?>
            <span class="minimal-price-link">
            <?= /* @escapeNotVerified */
            $block->renderAmountMinimal() ?>
        </span>
		<?php endif ?>
	<?php endif; ?>
<?php else: ?>
    <div class="rental_pricing <?php echo $block->isProductList() ? 'rental_pricing_listing' : '' ?>" >
		<?php /* @escapeNotVerified */
		$blockoutput =  $block->renderAmount( $finalPriceModel->getAmount(), [
			'price_id'          => $block->getPriceId( 'product-price-' . $idSuffix ),
			'price_type'        => 'finalPrice',
			'include_container' => true,
			'schema'            => $schema
		] );
//		if($finalPriceModel->getAmount()->getBaseAmount() == 0) {
//            // hide $0 price
//            // expression should match any currency symbol at front or back of price, and price should be 0 with , or . symbols
//            $pattern = '/<span class="price">.{0,3}[0\.\,]{1,100}.{0,3}<\/span>/';
//            $replacement = '<span class="price"></span>';
//            //$matches = preg_match('/<span class="price">.{,3}[0\.\,]{1,100}.{,3}<\/span>/', $blockprice);
//            $blockoutput = preg_replace($pattern, $replacement, $blockoutput);
//        }
        echo $blockoutput;
		?>
    </div>
<?php endif; ?>
