<?php
/**
 * Copyright © 2018 SalesIgniter. All rights reserved.
 * See https://rentalbookingsoftware.com/license.html for license details.
 *
 */

// @codingStandardsIgnoreFile

?>

<?php
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
/** @var \Magento\Bundle\Pricing\Render\FinalPriceBox $block */

/** @var \Magento\Bundle\Pricing\Price\FinalPrice $finalPriceModel */
$finalPriceModel = $block->getPrice();
$minimalPrice    = $finalPriceModel->getMinimalPrice();
$maximalPrice    = $finalPriceModel->getMaximalPrice();
/** ex: \Magento\Bundle\Pricing\Price\BundleRegularPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $regularPriceModel */
$regularPriceModel   = $block->getPriceType( 'regular_price' );
$maximalRegularPrice = $regularPriceModel->getMaximalPrice();
$minimalRegularPrice = $regularPriceModel->getMinimalPrice();
/** @var \SalesIgniter\Rental\Helper\Data $helperRental */
$helperRental = \Magento\Framework\App\ObjectManager::getInstance()->create( '\SalesIgniter\Rental\Helper\Data' );
?>
<?php if ( ! $helperRental->isRentalType( $block->getSaleableItem()->getId() ) ): ?>
	<?php if ( $block->getSaleableItem()->getPriceView() ): ?>
        <p class="minimal-price">
			<?php /* @escapeNotVerified */
			echo $block->renderAmount( $minimalPrice, [
				'display_label'     => __( 'As low as' ),
				'price_id'          => $block->getPriceId( 'from-' ),
				'include_container' => true
			] ); ?>
			<?php if ( $minimalPrice < $minimalRegularPrice ): ?>
                <span class="old-price">
                <?php /* @escapeNotVerified */
                echo $block->renderAmount( $minimalRegularPrice, [
	                'display_label'     => __( 'Regular Price' ),
	                'price_id'          => $block->getPriceId( 'old-price-' . $idSuffix ),
	                'include_container' => true,
	                'skip_adjustments'  => true
                ] ); ?>
            </span>
			<?php endif ?>
        </p>
	<?php else: ?>
		<?php if ( $block->showRangePrice() ): ?>
            <p class="price-from">
				<?php /* @escapeNotVerified */
				echo $block->renderAmount( $minimalPrice, [
					'display_label'     => __( 'From' ),
					'price_id'          => $block->getPriceId( 'from-' ),
					'price_type'        => 'minPrice',
					'include_container' => true
				] ); ?>
				<?php if ( $minimalPrice < $minimalRegularPrice ): ?>
                    <span class="old-price">
                    <?php /* @escapeNotVerified */
                    echo $block->renderAmount( $minimalRegularPrice, [
	                    'display_label'     => __( 'Regular Price' ),
	                    'price_id'          => $block->getPriceId( 'old-price-' . $idSuffix ),
	                    'include_container' => true,
	                    'skip_adjustments'  => true
                    ] ); ?>
                </span>
				<?php endif ?>
            </p>
            <p class="price-to">
				<?php /* @escapeNotVerified */
				echo $block->renderAmount( $maximalPrice, [
					'display_label'     => __( 'To' ),
					'price_id'          => $block->getPriceId( 'to-' ),
					'price_type'        => 'maxPrice',
					'include_container' => true
				] ); ?>
				<?php if ( $maximalPrice < $maximalRegularPrice ): ?>
                    <span class="old-price">
                    <?php /* @escapeNotVerified */
                    echo $block->renderAmount( $maximalRegularPrice, [
	                    'display_label'     => __( 'Regular Price' ),
	                    'price_id'          => $block->getPriceId( 'old-price-' . $idSuffix ),
	                    'include_container' => true,
	                    'skip_adjustments'  => true
                    ] ); ?>
                </span>
				<?php endif ?>
            </p>
		<?php else: ?>
			<?php /* @escapeNotVerified */
			$blockprice =  $block->renderAmount( $minimalPrice, [
				'price_id'          => $block->getPriceId( 'product-price-' ),
				'include_container' => true
			] );
//			if($minimalPrice->getBaseAmount() == 0) {
//                // hide $0 price
//                // expression should match any currency symbol at front or back of price, and price should be 0 with , or . symbols
//                $pattern = '/<span class="price">.{0,3}[0\.\,]{1,100}.{0,3}<\/span>/';
//                $replacement = '<span class="price"></span>';
//                //$matches = preg_match('/<span class="price">.{,3}[0\.\,]{1,100}.{,3}<\/span>/', $blockprice);
//                $blockprice = preg_replace($pattern, $replacement, $blockprice);
//            }
            echo $blockprice;
			?>
			<?php if ( $minimalPrice < $minimalRegularPrice ): ?>
                <span class="old-price">
                <?php /* @escapeNotVerified */
                echo $block->renderAmount( $minimalRegularPrice, [
	                'display_label'     => __( 'Regular Price' ),
	                'price_id'          => $block->getPriceId( 'old-price-' . $idSuffix ),
	                'include_container' => true,
	                'skip_adjustments'  => true
                ] ); ?>
            </span>
			<?php endif ?>
		<?php endif ?>
	<?php endif ?>

<?php else:
    // Div below was style="display:none" but this was stopping bundles from showing pricing info, so removed
    ?>
    <div >
		<?php /* @escapeNotVerified */
		$blockprice = $block->renderAmount( $minimalPrice, [
			'price_id'          => $block->getPriceId( 'product-price-' ),
			'include_container' => true
		] );

//        if($minimalPrice->getBaseAmount() == 0){
//            // hide $0 price
//            // expression should match any currency symbol at front or back of price, and price should be 0 with , or . symbols
//            $pattern = '/<span class="price">.{0,3}[0\.\,]{1,100}.{0,3}<\/span>/';
//            $replacement = '<span class="price"></span>';
//            //$matches = preg_match('/<span class="price">.{,3}[0\.\,]{1,100}.{,3}<\/span>/', $blockprice);
//            $blockprice = preg_replace($pattern, $replacement, $blockprice);
//        }
        echo $blockprice;
		?>
    </div>
<?php endif ?>
