<div class="row headings" id="productheading">
	<div class="col-xs-10 product-info">Product</div>
	<div class="col-xs-2 product-quantity">QTY</div>
</div>
<div class="row body" data-bind="foreach: { data: products, as: 'Product' }" id="productdata">
	<div class="row product" data-bind="attr: { 'data-row_idx': $index }">
		<div class="col-xs-10 product-info">
			<p data-bind="text: Product.getName()"></p>
			<small>
				<span><!-- ko i18n: 'SKU' --><!-- /ko -->: </span>
				<span data-bind="text: Product.getSku()"></span>
			</small>
		</div>
		<div class="col-xs-2 product-quantity" data-bind="text: Product.getRentalQuantity()"></div>
	</div>
</div>
