<div class="row headings format-day" data-bind="style: { width: getCalendarWidth() }, foreach: { data: getCalendarHeadings(), as: 'time' }" id="inventoryheading">
	<div class="date-column" data-bind="text: $root.displayDate(time, $root.locale, 'hh:mm a')"></div>
</div>
<div class="row body format-day" data-bind="style: { width: getCalendarWidth() }" id="inventorydata">
	<div data-bind="foreach: { data: $root.getCalendarContent(), as: 'result' }, attr: { 'data-row_idx': $index }">
		<div class="date-column" data-bind="html: result.html, attr: { 'data-timestamp': result.timestamp }"></div>
	</div>
</div>
