<div class="row headings format-week" data-bind="style: { width: getCalendarWidth() }, foreach: { data: getCalendarHeadings(), as: 'time' }">
	<div class="date-column" data-bind="text: $root.displayDate(time, $root.locale, 'ddd MMM Do')"></div>
</div>
<div class="row body format-week" data-bind="style: { width: getCalendarWidth() }">
	<div data-bind="foreach: { data: $root.getCalendarContent(), as: 'result' }, attr: { 'data-row_idx': $index }">
		<div class="date-column" data-bind="html: result.html, attr: { 'data-timestamp': result.timestamp }"></div>
	</div>
</div>
