<?php
/**
 * @var \SalesIgniter\Rental\Block\Emails\Serials\Serials $block
 */
?>
<?php $productsSerials = $block->getProductNameAndAssignedSerialsArray(); ?>
<?php if(count($productsSerials) > 0): ?>
    <table class="email-items">
        <thead>
        <tr>
            <th class="item-info">
                <?= $block->escapeHtml(__('Serials Assigned')); ?>
            </th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <?php
        foreach ($productsSerials as $product=>$productSerial): ?>
            <tr>
                <td valign="top"><label><?= $product; ?></label></td>
                <td>
                    <?php
                    $counter = 1;
                    $totalSerials = count($productSerial);
                    foreach ($productSerial as $serial): ?>

                        <?= $serial; ?><?php if($counter != $totalSerials){echo ',';}
                        $counter++;
                        ?>
                    <?php endforeach; ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif ?>
