<div>
        <div class="row headings format-month" data-bind="style: { width: getCalendarWidth() }, foreach: { data: getCalendarHeadings(), as: 'time' }" id="inventoryheading">
            <div class="date-column" data-bind="text: $root.displayDate(time, $root.locale)">&nbsp;</div>
        </div>
        <div class="row body format-month" data-bind="style: { width: getCalendarWidth() }, foreach: { data: products, as: 'Product' }" id="inventorydata">
            <div data-bind="foreach: { data: $root.getCalendarContent(Product), as: 'result' }, attr: { 'data-row_idx': $index }">
                <div class="date-column" data-bind="html: result.html, attr: { 'data-timestamp': result.timestamp },
		    css: { dayLowinv: result.html < 1, dayInvok: result.html >= 1 },	click: function (data, e){ $root.showDateReport(e, data, Product) }"></div>
            </div>
        </div>
</div>

