<div class="row headings format-week" data-bind="style: { width: getCalendarWidth() }, foreach: { data: getCalendarHeadings(), as: 'time' }" id="inventoryheading">
	<div class="date-column" data-bind="text: $root.displayDate(time, $root.locale, 'ddd MMM Do')"></div>
</div>
<div class="row body format-week" data-bind="style: { width: getCalendarWidth() }, foreach: { data: products, as: 'product' }" id="inventorydata">
	<div data-bind="foreach: { data: $root.getCalendarContent(product), as: 'result' }, attr: { 'data-row_idx': $index, 'data-product_id': product.id }">
		<div class="date-column" data-bind="html: result.html, attr: { 'data-timestamp': result.timestamp },
		click: $root.showProductDateReport,
		css: { dayLowinv: result.html < 1, dayInvok: result.html >= 1 }"
		></div>
	</div>
</div>
